#main {
    background-color: rgb(142, 212, 30);
    padding: 10px;
    
}
#logo{
    font-size: 50px;
    color: red;
}
#topmenu  {
  display: flex;
  list-style: none;
  margin: 0;
  gap: 150px;
  font-size: 25px;
  color: blueviolet;
  font-weight:600;
  padding:20px 60px;  /* 패딩 */ 
}
 #topmenu li a {
    text-decoration: none;
  
  }

  #topmenu  > li > a:hover {
  color:#1fa8f8;
  text-shadow:0 2px #faf7f7;
}

#info {
     background-color: rgb(159, 161, 155);
    padding: 20px;
}