
#main {
    background-color:  lightblue;

}

/* h1 {
    color:rgb(201, 61, 18);
   

} */
#topmenu {
    color:rgb(128, 0, 43);
    
}

/* }

    #secId {
        color: blueviolet;
    }
    .secClass{
        
        border: 5px dotted yellowgreen;
        padding: 10px;
    }
 */
